/* Header Section */
.header {
  background: #4CAF50; /* Green theme */
  color: white;
  padding: 1rem;
  text-align: center;
}

/* Top Bar */
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.logo {
  height: 60px;
}

.auth-links {
  margin-left: auto;
}

.auth-links a {
  color: blue;
  text-decoration: none;
  margin: 0 5px;
}

.cart-icon img {
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

/* Navigation Bar */
.nav-bar {
  background-color: #333;
  padding: 5px;
  display: flex;  
  justify-content: center; 
  align-items: center; 
  height: 25px;
}
.nav-bar a {
  font-family: Arial, sans-serif;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
}